body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    color: grey;
    width: 350px;
    text-align: center;
}
.box{
    background-color: rgba(44, 40, 40, 0.288);
    width: 350px;
}
.box1{
    background-color: rgba(44, 40, 40, 0.288);
    border: 1px solid gray;
    width: 350px;
    padding-left:20px ;
}
button{
    background-color: aquamarine;
   margin-left: 7%;
   width: 300px;
   padding: 5px;
}
.a{
    color: gray;
    background-color: rgb(57, 55, 55);
    padding: 5px;
    margin-left: 20px;
    text-align: center;
}
h1{
    color: gray;
    margin-left: 30px;
    opacity: 0.3;
}
 input range{
    width: 500px;
}
.main{

}